<nav class="navbar navbar-dark bg-primary justify-content-center flex-column">
    <div>
      <h1 class="text-white">MY STORE</h1>
    </div>
    <div class="container-fluid justify-content-center">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a
            class="nav-link active link-light"
            aria-current="page"
            routerLink="/"
          >
            Product List
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" routerLink="/cart">Cart</a>
        </li>
      </ul>
    </div>
  </nav>
  